.hg/*
.hgignore
.idea*
.AppleDouble*
*.php~
*.orig
*.bak
*.DS_Store
*.log
._*
temp/*
tmp/*
*Thumbs.db
 
html/WEB-INF/*
*.sass-cache
*config.codekit3
 
# Node modules
node_modules/
bower_components/
npm-debug.log
package-lock.json
 
# Drupal standard install
html/sites/development.services.yml
html/sites/*/settings.local.php
html/sites/*/files/php/*
html/sites/*/files/external/*
html/sites/*/files/css/*
html/sites/*/files/js/*
html/sites/*/files/xmlsitemap/*
html/sites/*/files/advagg_css/*
html/sites/*/files/styles/*
html/sites/*/files/advagg_js/*
html/sites/*/files/video_embed_field_thumbnails/*
 
# Drupal composer install
html/web/sites/development.services.yml
html/web/sites/*/settings.local.php
html/web/sites/*/files/php/*
html/web/sites/*/files/external/*
html/web/sites/*/files/css/*
html/web/sites/*/files/js/*
html/web/sites/*/files/xmlsitemap/*
html/web/sites/*/files/advagg_css/*
html/web/sites/*/files/styles/*
html/web/sites/*/files/advagg_js/*
html/web/sites/*/files/video_embed_field_thumbnails/*
html/.editorconfig
html/.gitattributes
html/web
 
# Symfony < 3
html/app/cache/*
html/app/logs/*.log
html/web/bundles/*
html/web/compiled/*
html/web/images/*
html/web/css/*
html/web/js/*
html/web/media/*
html/web/main*
html/app/config/parameters.yml
html/app/config/validation_parameters.yml
html/src/Epsilon/APIBundle/Resources/archive/*.txt
html/src/Epsilon/APIBundle/Resources/archive/*.pgp
html/src/Epsilon/APIBundle/Resources/sent/*.pgp
html/src/Epsilon/APIBundle/Resources/sent/*.txt
html/vendor/composer/autoload_*
html/vendor

# Drupal 7.x
html/drush
html/scripts
